/**
 * @file styles.scss
 * @description Implments the styles for the sign-up form (i.e. index.html)
 */

@font-face {
    font-family: 'norse-bold';
    src: url("../assets/norse-bold.otf");
}

$form-width: 62.5%;
$odin-green: #596D48;
$input-shadow: gray;

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: row wrap;
}

section#logos,
section#form {
    block-size: 100vh;
}

section#logos {
    // flex: grow shrink (Allows logos section to change size instead of the form section)
    flex: 1 0;
    background-image: url("../assets/hiking-wallpaper.jpeg");
    background-size: cover;

    header {
        margin-top: 30vh;

        display: flex;
        justify-content: center;
        align-items: center;
        
        background-color: black;
        opacity: 0.8;
        
        img {
            block-size: 5em;
            
            @media (max-width: 420px) {
                block-size: 3.8rem;
            }
        }

        h1 {
            white-space: nowrap;
            padding-top: 20px;
            margin: 0;

            font-family: 'norse-bold';
            font-size: 5rem;
            color: white;
            
            @media (max-width: 420px) {
                font-size: 3.8rem;
            }
        }
    }
}

form#sign-up {
    display: flex;
    justify-content: center;
    flex-direction: column;

    // flex: grow shrink basis (i.e. form always has size 62.5%)
    flex: 0 0 $form-width;

    font-family: Verdana, Geneva, Tahoma, sans-serifå;

    section,
    div.form-content {
        padding-block: 1rem;
        padding-inline: 2rem;
    }

    section {
        background-color: whitesmoke;

        button[type=submit] {
            padding-block: 0.5rem;
            padding-inline: 2rem;

            color: white;
            font-size: 1rem;

            background-color: $odin-green;
            border: none;
            border-radius: 0.5rem;
        }

        p#password-check {
            color: red
        }
    }

    div.form-content {
        display: flex;
        flex-flow: row wrap;

        div.form-field-container {
            display: flex;
            flex-direction: column;

            label {
                font-size: 0.6rem;
                font-weight: bold;
            }

            input {
                margin-block-end: 1rem;
                border-style: none none solid;
                font-family: Verdana, Geneva, Tahoma, sans-serifå;
            }

            input:focus {
                box-shadow: 5px 5px 5px $input-shadow;
                outline: none;
            }

            input:valid {
                border-color: $odin-green;
            }

            input:invalid {
                border-color: red;
            }
        }

        div.form-field-container:first-child {
            margin-inline-end: 2rem;
        }
    }

    section p a {
        font-weight: bold;
        color: $odin-green;
        text-decoration: none;
    }

    // Make form section take up whole space when mobile responsive
    @media (max-width: 980px) {
        flex-grow: 1;
    }
}
