/**
 * @file styles.scss
 * @description Implments the styles for the sign-up form (i.e. index.html)
 */

@font-face {
    font-family: 'norse-bold';
    src: url("../assets/norse-bold.otf");
}

$form-width: 62.5%;
$odin-green: #596D48;

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: row wrap;
}

section#logos,
section#form {
    block-size: 100vh;
}

section#logos {
    // flex: grow shrink (Allows logos section to change size instead of the form section)
    flex: 1 0;
    background-image: url("../assets/hiking-wallpaper.jpeg");
    background-size: cover;

    header {
        margin-top: 30vh;
        block-size: 120px;

        display: flex;
        justify-content: center;
        align-items: center;
        
        background-color: black;
        opacity: 0.8;
        
        img {
            block-size: 5em;
            
            @media (max-width: 400px) {
                block-size: 3.8rem;
            }
        }

        h1 {
            white-space: nowrap;
            padding-top: 20px;
            margin: 0;

            font-family: 'norse-bold';
            font-size: 5rem;
            color: white;
            
            @media (max-width: 400px) {
                font-size: 3.8rem;
            }
        }
    }
}

form#sign-up {
    padding: 2rem;

    display: flex;
    justify-content: center;
    flex-direction: column;

    // flex: grow shrink basis (i.e. form always has size 62.5%)
    flex: 0 0 $form-width;

    div.form-content {
        margin-block-end: 1rem;

        display: flex;
        flex-flow: row wrap;

        div.form-field-container {
            display: flex;
            flex-direction: column;

            input {
                margin-block-end: 1rem;
            }
        }

        div.form-field-container:first-child {
            margin-inline-end: 2rem;
        }
    }
}
